body {
    
    font-family: 'Arial', sans-serif; 
  }
  
  .jumbotron {
    background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2luZW1hfGVufDB8fDB8fHww');
    background-size:contain;
   
    
    
   
    
  }
  
  .navbar-custom {
    background-color: #080f17;
  }
  
  .navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: white;
  }
  
  .blog-post {
    margin-top: 20px;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; /
  }
  
  .blog-post:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .blog-post-title {
    
    margin-bottom: 15px;
  }
  
  .blog-post-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 30px; 
  }
  
  .footer a {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease-in-out; 
  }
  
  .footer a:hover {
    color: #007bff; 
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  
